.footbtn {
    display: flex;
    justify-content: space-evenly;
    padding-top: 10px;
    padding-bottom: 10px;
    
    
}

.btn {
    background-color: orange;
    color:black;
    font-size: medium;
    padding: 10px;
    width: 100px;
    border-radius: 5%;
}